<!-- Canonical Shadow DOM fallback templates for <kata-radio-group>. Copy only the templates required by the page. -->
<template id="kata-radio-group-template">
    <fieldset>
      <legend><slot name="legend">性別</slot></legend>
      <slot>
        <label><input type="radio" name="gender" value="male"> 男性</label>
        <label><input type="radio" name="gender" value="female"> 女性</label>
        <label><input type="radio" name="gender" value="other"> その他</label>
      </slot>
    </fieldset>
  </template>
