<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>kata-tabs example</title>
  <link rel="stylesheet" href="../../../styles/kata-ui.css">
  <link rel="stylesheet" href="../kata-tabs.css">
</head>
<body>
  <h1>kata-tabs examples</h1>

  <template id="kata-tabs-template">
    <div role="tablist" aria-label="設定">
      <slot name="tab"><button type="button" role="tab" data-tabs-trigger aria-selected="true" aria-controls="tab-account">アカウント</button></slot>
    </div>
    <slot name="panel"><div id="tab-account" role="tabpanel" data-tabs-panel>アカウント情報</div></slot>
  </template>

  <kata-tabs>
    <button slot="tab" type="button" role="tab" data-tabs-trigger aria-selected="true" aria-controls="tab-account" data-active>アカウント</button>
    <button slot="tab" type="button" role="tab" data-tabs-trigger aria-selected="false" aria-controls="tab-password">パスワード</button>
    <button slot="tab" type="button" role="tab" data-tabs-trigger aria-selected="false" aria-controls="tab-notify">通知</button>
    <div slot="panel" id="tab-account" role="tabpanel" data-tabs-panel>アカウント情報の設定内容です。</div>
    <div slot="panel" id="tab-password" role="tabpanel" data-tabs-panel hidden>パスワード変更フォームです。</div>
    <div slot="panel" id="tab-notify" role="tabpanel" data-tabs-panel hidden>通知設定の内容です。</div>
  </kata-tabs>

  <script type="module" src="../kata-tabs.js"></script>
</body>
</html>
