<!-- Canonical Light DOM templates for <kata-avatar>. Copy only the templates required by the page. -->
<template id="kata-avatar-template">
    <span class="kata-avatar">
      <img src="/assets/avatar-placeholder.png" alt="ユーザー">
    </span>
  </template>

<template id="kata-avatar-initials-template">
    <span class="kata-avatar">AB</span>
  </template>

<template id="kata-avatar-sm-template">
    <span class="kata-avatar" data-size="sm">YN</span>
  </template>

<template id="kata-avatar-lg-template">
    <span class="kata-avatar" data-size="lg">YN</span>
  </template>
