@import url("./tokens.css");
@import url("./themes/theme-default.css");
@import url("./themes/theme-blue.css");
@import url("./themes/theme-dark.css");
@import url("./themes/theme-facility.css");
@import url("./themes/theme-winforms.css");

html {
  background-color: var(--kata-color-background);
  color: var(--kata-color-text);
  font-family: var(--kata-font-family);
  font-size: var(--kata-font-size-root);
  line-height: var(--kata-line-height-content);
}
