<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>kata-radio-group example</title>
  <link rel="stylesheet" href="../../../styles/kata-ui.css">
  <link rel="stylesheet" href="../kata-radio-group.css">
</head>
<body>
  <h1>kata-radio-group examples</h1>

  <template id="kata-radio-group-template">
    <fieldset>
      <legend>性別</legend>
      <label><input type="radio" name="gender" value="male"> 男性</label>
      <label><input type="radio" name="gender" value="female"> 女性</label>
      <label><input type="radio" name="gender" value="other"> その他</label>
    </fieldset>
  </template>

  <template id="kata-radio-group-color-template">
    <fieldset>
      <legend>好きな色</legend>
      <label><input type="radio" name="color" value="red"> 赤</label>
      <label><input type="radio" name="color" value="blue"> 青</label>
      <label><input type="radio" name="color" value="green"> 緑</label>
    </fieldset>
  </template>

  <p><kata-radio-group></kata-radio-group></p>
  <p><kata-radio-group template="kata-radio-group-color-template"></kata-radio-group></p>

  <script type="module" src="../kata-radio-group.js"></script>
</body>
</html>
