<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>kata-radio-group example</title>
  <link rel="stylesheet" href="../../../styles/kata-ui.css">
  <link rel="stylesheet" href="../kata-radio-group.css">
</head>
<body>
  <h1>kata-radio-group examples</h1>

  <template id="kata-radio-group-template">
    <fieldset>
      <legend><slot name="legend">性別</slot></legend>
      <label><input type="radio" name="gender" value="male"> <slot name="option-1">男性</slot></label>
      <label><input type="radio" name="gender" value="female"> <slot name="option-2">女性</slot></label>
      <label><input type="radio" name="gender" value="other"> <slot name="option-3">その他</slot></label>
    </fieldset>
  </template>

  <template id="kata-radio-group-color-template">
    <fieldset>
      <legend><slot name="legend">好きな色</slot></legend>
      <label><input type="radio" name="color" value="red"> <slot name="option-1">赤</slot></label>
      <label><input type="radio" name="color" value="blue"> <slot name="option-2">青</slot></label>
      <label><input type="radio" name="color" value="green"> <slot name="option-3">緑</slot></label>
    </fieldset>
  </template>

  <p><kata-radio-group>
    <span slot="legend">性別</span>
    <span slot="option-1">男性</span><span slot="option-2">女性</span><span slot="option-3">その他</span>
  </kata-radio-group></p>
  <p><kata-radio-group template="kata-radio-group-color-template">
    <span slot="legend">好きな色</span>
    <span slot="option-1">赤</span><span slot="option-2">青</span><span slot="option-3">緑</span>
  </kata-radio-group></p>

  <script type="module" src="../kata-radio-group.js"></script>
</body>
</html>
